
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://i.imgur.com/uhndF3E.jpeg"
    cardTitle="NOVO HOMEM DE FERRO"
    cardContent="Saiu novo filme do Homem de Ferro e é uma merda!"
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="https://i.imgur.com/3DL2qeg.png"
    cardContent="Olha o Groot!"
    >
    </app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://i.imgur.com/rjp3O6I.jpeg"
    cardContent="Paizinho do Ano!"
    >
    </app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://i.imgur.com/B01mhh5.jpeg"
    cardContent="A turma toda reunida!"
    >
    </app-small-card>
  </div>
</div>
